pkgbase = nekonopaw
	pkgdesc = PipeWire output mixer Web UI (per-stream / per-sink volume control)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/nananek/nekonopaw
	arch = x86_64
	license = unknown
	makedepends = go
	depends = pipewire
	source = nekonopaw-0.1.0.tar.gz::https://github.com/nananek/nekonopaw/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = b51c3e48f23dbefd544a638a2f70d080261a0f62b1eba882286f5a3644b366a4

pkgname = nekonopaw
