pkgbase = voicevox-engine-cuda
	pkgdesc = A http server for text-to-speech (CUDA / NVIDIA GPU build)
	pkgver = 0.25.2
	pkgrel = 5
	url = https://github.com/VOICEVOX/voicevox_engine
	install = voicevox-engine-cuda.install
	arch = x86_64
	license = LGPL-3.0-only+nonfree
	makedepends = python-build
	makedepends = python-setuptools
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-pip
	makedepends = cython
	makedepends = gcc
	makedepends = make
	makedepends = autoconf
	makedepends = automake
	makedepends = 7zip
	depends = python
	depends = python-fastapi
	depends = python-importlib-metadata
	depends = python-jaraco.text
	depends = python-jinja
	depends = python-markupsafe
	depends = python-numpy
	depends = python-platformdirs
	depends = python-pydantic
	depends = python-pydantic-core
	depends = python-python-multipart
	depends = python-semver
	depends = python-setuptools
	depends = python-soxr
	depends = python-soundfile
	depends = python-starlette
	depends = python-yaml
	depends = uvicorn
	depends = nvidia-utils
	depends = python-psutil
	provides = voicevox-engine
	conflicts = voicevox-engine
	noextract = voicevox_engine-linux-nvidia-0.25.2.7z.001
	noextract = voicevox_engine-linux-nvidia-0.25.2.7z.002
	noextract = kanalizer-0.1.1-cp39-abi3-manylinux_2_28_x86_64.whl
	noextract = pyopenjtalk-0.4.1.tar.gz
	noextract = pyworld-0.3.5.tar.gz
	options = !strip
	options = !debug
	source = https://github.com/VOICEVOX/voicevox_engine/archive/refs/tags/0.25.2.tar.gz
	source = https://github.com/r9y9/open_jtalk/releases/download/v1.11.1/open_jtalk_dic_utf_8-1.11.tar.gz
	source = https://github.com/VOICEVOX/voicevox_engine/releases/download/0.25.2/voicevox_engine-linux-nvidia-0.25.2.7z.001
	source = https://github.com/VOICEVOX/voicevox_engine/releases/download/0.25.2/voicevox_engine-linux-nvidia-0.25.2.7z.002
	source = https://files.pythonhosted.org/packages/a9/82/5c93ae789fa44f3615ee465e36ce39ea4c3973d597a93dfa4c8ba4ff6edf/kanalizer-0.1.1-cp39-abi3-manylinux_2_28_x86_64.whl
	source = https://files.pythonhosted.org/packages/58/74/ccd31c696f047ba381f9b11a504bf1199756c3f30f3de64e3eeb83e10b4a/pyopenjtalk-0.4.1.tar.gz
	source = https://files.pythonhosted.org/packages/a5/0f/c78d631ffbb4c1aaebf80ff2bf9e791213b381dbe404f9ce1a3eb3672931/pyworld-0.3.5.tar.gz
	source = voicevox-engine.service
	source = voicevox-engine.sysusers
	source = voicevox-engine.tmpfiles
	sha256sums = 0fdc15638a6385509aa5ca756076531fad108bd91f61fbce40e95e634ad11595
	sha256sums = fe6ba0e43542cef98339abdffd903e062008ea170b04e7e2a35da805902f382a
	sha256sums = b7e2fb54ed6abca3f4003982e97e8496a254a8d0b93ade4a9dd6a3fcca946479
	sha256sums = 775d0c495535d44cab77ec219b80e2495a7e151f61ffda70489c4d0d96d52d04
	sha256sums = bb86f3fa2cfe4034fa68f3035e3235bb6ee314e1957aac9c0426d651e473709a
	sha256sums = d5ada46f7fc2b52c1c79c273eb9668ff6ad7ab276a8db9d8be119ef93440f0dc
	sha256sums = 1b93e53cddb67a0e4faa34d6cf919ac6c662feb1c8c0ed901d71b595ab396aa3
	sha256sums = 956c16b9c81d72bb5d4067c6e0ff71f55651584edb54fc307788462d4f452bd8
	sha256sums = 580d6feb690711adf929b8054a57b269606d03e042c2fdd7ef4ca3fc0033f119
	sha256sums = 8eef6d4a0c5e795c49920607a627f7372c8b96fb422cff6956b516c7f2fc9fec

pkgname = voicevox-engine-cuda
