pkgbase = sunshine-bin
	pkgdesc = A self-hosted game stream host for Moonlight.
	pkgver = 2026.914.233613
	pkgrel = 1
	url = https://app.lizardbyte.dev
	install = sunshine.install
	arch = x86_64
	license = GPL-3.0-only
	depends = avahi
	depends = curl
	depends = gcc-libs
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libayatana-appindicator
	depends = libcap
	depends = libdrm
	depends = libevdev
	depends = libpipewire
	depends = miniupnpc
	depends = libmfx
	depends = libpulse
	depends = libva
	depends = libx11
	depends = libxcb
	depends = libxfixes
	depends = libxrandr
	depends = libxtst
	depends = numactl
	depends = openssl
	depends = opus
	depends = qt6-base
	depends = qt6-svg
	depends = udev
	depends = vulkan-icd-loader
	depends = which
	optdepends = cuda: Nvidia GPU encoding support
	optdepends = libva-mesa-driver: AMD GPU encoding support
	optdepends = xorg-server-xvfb: Virtual X server for headless testing
	provides = sunshine
	conflicts = sunshine
	options = !strip
	options = !debug
	source = sunshine-2026.914.233613-1-x86_64.pkg.tar.zst::https://github.com/LizardByte/Sunshine/releases/download/v2026.914.233613/sunshine-2026.914.233613-1-x86_64.pkg.tar.zst
	b2sums = 104008bd7999e8d938a1b559e6277aea60a29242a62a1d00bdce32ef1ce2125954ff11f8657f3f4cb3edc60a0d48e4a4c9ac80a5556f0166e5bc35fc94938101

pkgname = sunshine-bin
