pkgbase = python-mcp
	pkgdesc = Model Context Protocol SDK.
	pkgver = 1.28.1
	pkgrel = 2
	url = https://github.com/modelcontextprotocol/python-sdk
	arch = any
	license = MIT
	makedepends = python-hatchling
	makedepends = python-uv-dynamic-versioning
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = git
	depends = python
	depends = python-anyio
	depends = python-httpx
	depends = python-httpx-sse
	depends = python-pydantic
	depends = python-starlette
	depends = python-python-multipart
	depends = python-sse-starlette
	depends = python-pydantic-settings
	depends = uvicorn
	depends = python-jsonschema
	depends = python-pyjwt
	depends = python-cryptography
	depends = python-typing_extensions
	depends = python-typing-inspection
	depends = python-opentelemetry-api
	source = mcp::git+https://github.com/modelcontextprotocol/python-sdk.git#tag=v1.28.1
	sha256sums = a8d51d4314ab1c9a05e5643d7d0dea4bbfd43ea486183fde901ef083a0b23f99

pkgname = python-mcp
