pkgbase = nekono-btkeycast
	pkgdesc = Forward the local keyboard to an iPad (or any BLE central) as a HID-over-GATT keyboard
	pkgver = 0.2.1
	pkgrel = 3
	url = https://github.com/nananek/nekono-btkeycast
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	depends = python
	depends = python-dbus
	depends = python-gobject
	depends = gtk3
	depends = gtk-layer-shell
	depends = bluez
	depends = python-evdev
	optdepends = libnotify: desktop notifications on startup errors
	source = nekono-btkeycast-0.2.1.tar.gz::https://github.com/nananek/nekono-btkeycast/archive/refs/tags/v0.2.1.tar.gz
	sha256sums = 717bbf51c0470e57eb27be9730dd1f92cde7cfb91dab455637cb14ae55325b0d

pkgname = nekono-btkeycast
