pkgbase = nekono-btkeycast
	pkgdesc = Forward the local keyboard to an iPad (or any BLE central) as a HID-over-GATT keyboard
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/nananek/nekono-btkeycast
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	depends = python
	depends = python-dbus
	depends = python-gobject
	depends = gtk3
	depends = gtk-layer-shell
	depends = bluez
	optdepends = libnotify: desktop notifications on startup errors
	source = nekono-btkeycast-0.1.0.tar.gz::https://github.com/nananek/nekono-btkeycast/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = 21cd9bcb7dd098b5a885ab786c2836d86fbd2ce6fd9f65497ab1ba6ed439fe1d

pkgname = nekono-btkeycast
