pkgbase = python-cyclopts
	pkgdesc = A modern, intuitive command line interface framework for Python
	pkgver = 4.14.1
	pkgrel = 1
	url = https://github.com/BrianPugh/cyclopts
	arch = any
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python
	depends = python-attrs
	depends = python-docstring-parser
	depends = python-rich
	depends = python-rich-rst
	source = https://files.pythonhosted.org/packages/source/c/cyclopts/cyclopts-4.14.1.tar.gz
	sha256sums = 5d01fc3a940a0e4e872a81ed533a10c1892b5baaa4121fe69528a2b8c17fc9d0

pkgname = python-cyclopts
