pkgbase = python-cyclopts
	pkgdesc = A modern, intuitive command line interface framework for Python
	pkgver = 4.20.0
	pkgrel = 1
	url = https://github.com/BrianPugh/cyclopts
	arch = any
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python
	depends = python-attrs
	depends = python-docstring-parser
	depends = python-rich
	depends = python-rich-rst
	source = https://files.pythonhosted.org/packages/source/c/cyclopts/cyclopts-4.20.0.tar.gz
	sha256sums = 1d819de2b12dc6b1c9f17ce0f4937d82922c0b83ac846eb4b3289c9c9f321c9f

pkgname = python-cyclopts
