pkgbase = python-cyclopts
	pkgdesc = A modern, intuitive command line interface framework for Python
	pkgver = 4.22.1
	pkgrel = 1
	url = https://github.com/BrianPugh/cyclopts
	arch = any
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python
	depends = python-attrs
	depends = python-docstring-parser
	depends = python-rich
	depends = python-rich-rst
	source = https://files.pythonhosted.org/packages/source/c/cyclopts/cyclopts-4.22.1.tar.gz
	sha256sums = 49cd3779da7113a96ac5c23b151aa61ac9ae1b4b1fe813594d207ca843c97892

pkgname = python-cyclopts
