pkgbase = aria-bin
	pkgdesc = A cross-platform Misskey client built with Flutter
	pkgver = 1.5.13
	pkgrel = 1
	url = https://github.com/poppingmoon/aria
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	depends = gtk3
	depends = libsecret
	depends = gst-plugins-base-libs
	options = !strip
	options = !debug
	source = com.poppingmoon.aria.desktop::https://raw.githubusercontent.com/poppingmoon/aria/v1.5.13/flatpak/com.poppingmoon.aria.desktop
	source = com.poppingmoon.aria.png::https://raw.githubusercontent.com/poppingmoon/aria/v1.5.13/flatpak/com.poppingmoon.aria.png
	source = com.poppingmoon.aria.metainfo.xml::https://raw.githubusercontent.com/poppingmoon/aria/v1.5.13/flatpak/com.poppingmoon.aria.metainfo.xml
	sha256sums = b774b7ea50393e78016c3a8bfa0b26b480d3a32de8121c9694e97aaccb7e2342
	sha256sums = 878b0a27b7706036a2ddcb41bab05bf65ba9dd4718cabc25961f45daa5ab8ace
	sha256sums = 503f26cb93f18a80a4317982f107aeed58a3367b316730fc0b75c9e920a9b661
	source_x86_64 = https://github.com/poppingmoon/aria/releases/download/v1.5.13/aria-v1.5.13-linux-x64.tar.gz
	sha256sums_x86_64 = b6ac2f67ce29ce573ceaa02c19741f7be6734ec24bc25c67771fbd54f7967c97
	source_aarch64 = https://github.com/poppingmoon/aria/releases/download/v1.5.13/aria-v1.5.13-linux-arm64.tar.gz
	sha256sums_aarch64 = 31a2af733c373aaa4684bfe7194694c502c2e8e49a7c12b17094231ea045424e

pkgname = aria-bin
