pkgbase = aria-bin
	pkgdesc = A cross-platform Misskey client built with Flutter
	pkgver = 1.5.14
	pkgrel = 1
	url = https://github.com/poppingmoon/aria
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	depends = gtk3
	depends = libsecret
	depends = gst-plugins-base-libs
	options = !strip
	options = !debug
	source = com.poppingmoon.aria.desktop::https://raw.githubusercontent.com/poppingmoon/aria/v1.5.14/flatpak/com.poppingmoon.aria.desktop
	source = com.poppingmoon.aria.png::https://raw.githubusercontent.com/poppingmoon/aria/v1.5.14/flatpak/com.poppingmoon.aria.png
	source = com.poppingmoon.aria.metainfo.xml::https://raw.githubusercontent.com/poppingmoon/aria/v1.5.14/flatpak/com.poppingmoon.aria.metainfo.xml
	sha256sums = b774b7ea50393e78016c3a8bfa0b26b480d3a32de8121c9694e97aaccb7e2342
	sha256sums = 878b0a27b7706036a2ddcb41bab05bf65ba9dd4718cabc25961f45daa5ab8ace
	sha256sums = 1a1b02ae92a38bf7e683c51471bedc400337779378fa78bbda6cefd1ddad41f4
	source_x86_64 = https://github.com/poppingmoon/aria/releases/download/v1.5.14/aria-v1.5.14-linux-x64.tar.gz
	sha256sums_x86_64 = f7511e04fad74d295089c571d6da32798161cdfd99b04c7368a0de2f8a99b685
	source_aarch64 = https://github.com/poppingmoon/aria/releases/download/v1.5.14/aria-v1.5.14-linux-arm64.tar.gz
	sha256sums_aarch64 = 43d924aef9253b95fe1ac29302fcd4841ea1e2027bd10b245fad70f70e30ca3b

pkgname = aria-bin
