pkgbase = shairport-sync-airplay2
	pkgdesc = Emulates an AirPort Express; built with AirPlay 2 receiver support (requires nqptp)
	pkgver = 5.0.4
	pkgrel = 6
	url = https://github.com/mikebrady/shairport-sync
	arch = x86_64
	license = GPL
	makedepends = glib2-devel
	makedepends = xmltoman
	makedepends = vim
	depends = openssl
	depends = avahi
	depends = libsoxr
	depends = popt
	depends = alsa-lib
	depends = libconfig
	depends = libpipewire
	depends = libpulse
	depends = jack
	depends = mosquitto
	depends = nqptp
	depends = libplist
	depends = libsodium
	depends = libsndfile
	depends = ffmpeg
	provides = shairport-sync
	conflicts = shairport-sync
	replaces = shairport-sync
	backup = etc/shairport-sync.conf
	source = shairport-sync-5.0.4.tar.gz::https://github.com/mikebrady/shairport-sync/archive/5.0.4.tar.gz
	source = shairport-sync.sysusers
	source = remove_useradd.patch
	sha256sums = b89d4af74cffadd83d1be6eaf4e967180aa5a6aed32f561c937ae1d787909c25
	sha256sums = bc2d92254910996e837d1c4c7dd81eddfb96a9f5f0cb2faad9fcb0414ea79a1d
	sha256sums = 38f5c7aa7a35d1fd1a591b28d50293798cb29c3d9c600c0a750cb4209aed42f1

pkgname = shairport-sync-airplay2
