pkgbase = voicevox-bin
	pkgdesc = A text-to-speech software (Electron editor, system electron37)
	pkgver = 0.25.2
	pkgrel = 1
	url = https://github.com/VOICEVOX/voicevox
	arch = x86_64
	license = LGPL-3.0-only
	makedepends = 7zip
	depends = bash
	depends = electron37
	optdepends = voicevox-engine: TTS HTTP API server (local もしくは remote、 EngineSettings で URL 指定)
	provides = voicevox
	conflicts = voicevox
	conflicts = voicevox-appimage
	options = !strip
	options = !debug
	source = https://github.com/VOICEVOX/voicevox/releases/download/0.25.2/VOICEVOX-CPU-X64.AppImage.7z.001
	source = https://github.com/VOICEVOX/voicevox/releases/download/0.25.2/VOICEVOX-CPU-X64.AppImage.7z.002
	b2sums = e36263391b8af03da7e4e44995f5c65961fbbef7905d4cb107cb8b3fedf7bb0fbc381da261464f587126a123004b28530116170c77c2e578da182ad618ffcdc9
	b2sums = b0079c64ef268c207fcf870771e2436d440ad6a8465c6ae0a65d05343ae6e0e1500bd7c372e0aeef5229ab80b861776b07432ae79d8a5006824e496d28ffc41d

pkgname = voicevox-bin
