pkgbase = genshin-dict
	pkgdesc = Genshin Impact dictionary for Mozc IME (Windows IME format TSV + import helper)
	pkgver = 6.3.1
	pkgrel = 3
	url = https://github.com/kotofurumiya/genshin-dict
	install = genshin-dict.install
	arch = any
	license = MIT
	depends = python
	depends = python-protobuf
	makedepends = protobuf
	optdepends = fcitx5-mozc: Mozc IME (genshin-dict-mozc-import の操作対象)
	source = genshin-dict-6.3.1.tar.gz::https://github.com/kotofurumiya/genshin-dict/archive/refs/tags/v6.3.1.tar.gz
	source = genshin-dict-mozc-import
	source = user_dictionary_storage.proto
	sha256sums = 3759b9e5d575c17ac287ee079cfcfaf79e69805994f7c6eb35e4d89b6a7e79f0
	sha256sums = 51ad4257eb8e249cad6089b205d4f9e4bb76bd032da4782792b66abea945146c
	sha256sums = b38529be56a93c215d58b931d367a822e26d88c70949e4fd870d4de4521fb373

pkgname = genshin-dict
