pkgbase = moonlight-qt-nekono
	pkgdesc = GameStream client for PCs, multidisplay fork
	pkgver = 6.1.0.nekono3
	pkgrel = 1
	url = https://github.com/nananek/moonlight-qt
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = qt6-tools
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = ffmpeg
	depends = sdl2_ttf
	depends = sdl2-compat
	depends = libplacebo
	optdepends = libva-intel-driver: hardware acceleration for Intel GPUs GMA 4500 (2008) up to Coffee Lake (2017)
	optdepends = intel-media-driver: hardware acceleration for Intel GPUs starting from Broadwell (2014) and newer (e.g. Intel Arc)
	provides = moonlight-qt
	conflicts = moonlight-qt
	source = moonlight-qt-nekono-6.1.0.nekono3.tar.gz::https://github.com/nananek/moonlight-qt/releases/download/v6.1.0-nekono.3/moonlight-qt-6.1.0.nekono3.tar.gz
	sha256sums = 3ba2f6cc33057b5a0ba74959c6aa358fcebfdfb5342e683003b0584b98129c3b

pkgname = moonlight-qt-nekono
