pkgbase = sunshine-nekono
	pkgdesc = Self-hosted game stream host for Moonlight, multidisplay fork
	pkgver = 2026.906.222525.nekono1
	pkgrel = 1
	url = https://github.com/nananek/Sunshine
	install = sunshine.install
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cmake
	makedepends = nodejs
	makedepends = npm
	makedepends = python-jinja
	makedepends = shaderc
	makedepends = desktop-file-utils
	makedepends = appstream
	makedepends = appstream-glib
	depends = avahi
	depends = curl
	depends = gcc-libs
	depends = libayatana-appindicator
	depends = libcap
	depends = libdrm
	depends = libevdev
	depends = libpipewire
	depends = libpulse
	depends = libva
	depends = libx11
	depends = libxcb
	depends = libxfixes
	depends = libxrandr
	depends = libxtst
	depends = miniupnpc
	depends = numactl
	depends = openssl
	depends = opus
	depends = qt6-base
	depends = qt6-svg
	depends = udev
	depends = vulkan-icd-loader
	optdepends = cuda: Nvidia GPU encoding support
	optdepends = libva-mesa-driver: AMD GPU encoding support
	provides = sunshine
	conflicts = sunshine
	source = sunshine-nekono-2026.906.222525.nekono1.tar.gz::https://github.com/nananek/Sunshine/releases/download/v2026.906.222525-nekono.1/sunshine-2026.906.222525.nekono1.tar.gz
	source = sunshine-nekono-npm-cache-2026.906.222525.nekono1.tar.gz::https://github.com/nananek/Sunshine/releases/download/v2026.906.222525-nekono.1/sunshine-npm-cache-2026.906.222525.nekono1.tar.gz
	source = boost-1.89.0-cmake.tar.xz::https://github.com/boostorg/boost/releases/download/boost-1.89.0/boost-1.89.0-cmake.tar.xz
	source = Linux-x86_64-ffmpeg-v2026.910.121303.tar.gz::https://github.com/LizardByte/build-deps/releases/download/v2026.910.121303/Linux-x86_64-ffmpeg.tar.gz
	source = json-3.11.3.tar.xz::https://github.com/nlohmann/json/releases/download/v3.11.3/json.tar.xz
	source = sunshine.install
	sha256sums = 5f471841cba3c97b1bc0fb08ebbb42ba33a5fb3c9872d532e35c024485d8d221
	sha256sums = dde939d66225baf5711c151986a97f80aa1a47ad09f0a6625d84d6a3ceb82c13
	sha256sums = 67acec02d0d118b5de9eb441f5fb707b3a1cdd884be00ca24b9a73c995511f74
	sha256sums = 496d2bbb674d01e6033e31b9dfc15cbc9dc1494e882a4505f6ab1e03f75b385c
	sha256sums = d6c65aca6b1ed68e7a182f4757257b107ae403032760ed6ef121c9d55e81757d
	sha256sums = d7410467b90edac8063613519bdb5e7adb5c3476191780261179a4061859c7c7

pkgname = sunshine-nekono
