pkgbase = pam_pkcs11
	pkgdesc = PAM module allows a X.509 certificate based user login
	pkgver = 0.6.14
	pkgrel = 1
	url = https://opensc.github.io/pam_pkcs11/
	arch = i686
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = autoconf
	makedepends = automake
	makedepends = libtool
	makedepends = pkgconf
	depends = pcsclite
	depends = openssl
	backup = etc/pam_pkcs11/pam_pkcs11.conf
	backup = etc/pam_pkcs11/subject_mapping
	backup = etc/pam_pkcs11/card_eventmgr.conf
	source = https://github.com/OpenSC/pam_pkcs11/archive/pam_pkcs11-0.6.14.tar.gz
	sha256sums = 5d9acdb177ea2dfd7b698f6cdcc485107888cc1c9dcd15227436831c098a4075

pkgname = pam_pkcs11
