pkgbase = python-rich-rst
	pkgdesc = A reStructuredText renderer for rich
	pkgver = 2.0.1
	pkgrel = 1
	url = https://github.com/wasi-master/rich-rst
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-pygments
	depends = python-rich
	source = https://github.com/wasi-master/rich-rst/releases/download/v2.0.1/rich_rst-2.0.1.tar.gz
	sha256sums = cbe236ed0901d1ec8427cc6a50bf0a34353ba28ad014dc24def68bfe7f3b9e68

pkgname = python-rich-rst
