pkgbase = python-rich-rst
	pkgdesc = A reStructuredText renderer for rich
	pkgver = 2.0.2
	pkgrel = 1
	url = https://github.com/wasi-master/rich-rst
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-pygments
	depends = python-rich
	source = https://github.com/wasi-master/rich-rst/releases/download/v2.0.2/rich_rst-2.0.2.tar.gz
	sha256sums = 664a669801695c5a126151338f309ce3ea3e0ea081c89a4130b8a4f659911ed9

pkgname = python-rich-rst
