pkgbase = python-fastmcp
	pkgdesc = The fast, Pythonic way to build MCP servers and clients.
	pkgver = 3.3.1
	pkgrel = 5
	url = https://github.com/PrefectHQ/fastmcp
	arch = any
	license = MIT
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-uv-dynamic-versioning
	depends = python
	depends = uvicorn
	depends = python-dotenv
	depends = python-pydantic-settings
	depends = python-pydantic
	depends = python-authlib
	depends = python-cryptography
	depends = python-rich
	depends = python-openai
	depends = python-httpx
	depends = python-pydantic-core
	depends = python-starlette
	depends = python-typing_extensions
	depends = python-anyio
	depends = python-pyperclip
	depends = python-exceptiongroup
	depends = python-openapi-pydantic
	depends = python-mcp
	depends = python-jsonschema-path
	depends = python-uncalled-for
	depends = python-jsonref
	depends = python-cyclopts
	depends = python-py-key-value-aio
	depends = python-opentelemetry-api
	depends = python-packaging
	depends = python-platformdirs
	depends = python-yaml
	depends = python-websockets
	depends = python-watchfiles
	depends = python-griffelib
	depends = python-multipart
	source = https://files.pythonhosted.org/packages/source/f/fastmcp_slim/fastmcp_slim-3.3.1.tar.gz
	source = https://files.pythonhosted.org/packages/source/f/fastmcp/fastmcp-3.3.1.tar.gz
	sha256sums = 0957835fc59452e143ab2f4b7836d2d2df9b2d9958408edc79ba8b56232b2a88
	sha256sums = 979362ea557de42a5f40342563c7e4b236bcc8e7cd192715f50030695d1a71cd

pkgname = python-fastmcp
