pkgbase = python-sse-starlette
	pkgdesc = Server Sent Events (SSE) for Starlette and FastAPI
	pkgver = 3.4.8
	pkgrel = 1
	url = https://github.com/sysid/sse-starlette
	arch = any
	license = BSD-3-Clause
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = uvicorn
	depends = python-anyio
	depends = python-starlette
	source = python-sse-starlette-3.4.8.tar.gz::https://github.com/sysid/sse-starlette/archive/v3.4.8.tar.gz
	sha256sums = b1b241a9052bce7530f5584e1a4af667876da55bfe78834c9fabcba47f91f2c8

pkgname = python-sse-starlette
