pkgbase = python-sse-starlette
	pkgdesc = Server Sent Events (SSE) for Starlette and FastAPI
	pkgver = 3.4.6
	pkgrel = 1
	url = https://github.com/sysid/sse-starlette
	arch = any
	license = BSD-3-Clause
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = uvicorn
	depends = python-anyio
	depends = python-starlette
	source = python-sse-starlette-3.4.6.tar.gz::https://github.com/sysid/sse-starlette/archive/v3.4.6.tar.gz
	sha256sums = 7792b7a027793d87e05e0be38b242153948877ac4bce57d9f44d86a61e5331a6

pkgname = python-sse-starlette
