pkgbase = python-jsonschema-path
	pkgdesc = JSONSchema Spec with object-oriented paths
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/p1c2u/jsonschema-path
	arch = any
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry-core
	depends = python
	depends = python-attrs
	depends = python-yaml
	depends = python-pathable
	depends = python-referencing
	source = https://files.pythonhosted.org/packages/source/j/jsonschema_path/jsonschema_path-0.5.0.tar.gz
	sha256sums = 493b156ba895c97602655b620a8456caa2ce08c1aa389f5a7addec065e6e855c

pkgname = python-jsonschema-path
