pkgbase = xdg-desktop-portal-wlr-nekono
	pkgdesc = xdg-desktop-portal backend for wlroots (nekono fork: adds "Node: <id>" chooser source)
	pkgver = 0.8.4
	pkgrel = 1
	url = https://github.com/emersion/xdg-desktop-portal-wlr
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = meson
	makedepends = scdoc
	makedepends = wayland-protocols
	depends = glibc
	depends = grim
	depends = libdrm
	depends = libinih
	depends = libpipewire
	depends = mesa
	depends = pipewire
	depends = pipewire-session-manager
	depends = slurp
	depends = systemd-libs
	depends = wayland
	depends = xdg-desktop-portal
	provides = xdg-desktop-portal-wlr=0.8.4
	provides = xdg-desktop-portal-impl
	conflicts = xdg-desktop-portal-wlr
	replaces = xdg-desktop-portal-wlr
	source = xdg-desktop-portal-wlr-nekono::git+https://github.com/nananek/xdg-desktop-portal-wlr.git#tag=v0.8.4-nekono1?signed
	source = wlr-portals.conf
	validpgpkeys = 483DC691DF9F29327EA106BD030130E2F156CD74
	sha256sums = SKIP
	sha256sums = 85b84ba8ba69e41295e7f02045c67b547df6eab1b137502b089ddf354f2a04de

pkgname = xdg-desktop-portal-wlr-nekono
